:root{
    --primary-color: #223c50;
    --primary-font-family: 'Port Lligat Slab', serif;
    --primary-font-size: 6vw;
    --secondary-font-family: 'Barlow', sans-serif;
    --secondary-font-size: 5vw;
}
body {
    margin: 0; 
    padding: 4% 4% 0 4%; 
    font-family: var(--secondary-font-family);
    font-size: 4.5vw;       
}
a{
    text-decoration: none;
}
h1{
    padding-left: 10px;
    font-size: var(--primary-font-size);  
}
h2,h3{
    background-color: var(--primary-color);
    margin: 0;
    font-family: var(--primary-font-family);
    color: white;
}
h2{
    margin-top: 5vh;
    font-size: var(--primary-font-size);
}
h3{
    font-size: var(--secondary-font-size);   
}
p{
    margin-top: 0;
    text-align: justify; 
}
strong{
    color:rgb(149, 130, 21); 
}
strong:hover{
    color: red;
    cursor: pointer;
}
header{
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    height: 7vh;
    width: calc(100% - 8%); 
}
#header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    height: 100%;
}
.flex-container{
    display: flex;
    width: 60vw;
    margin-right: 15vw;    
}
#issue{
    margin-left: 1px;
    font-size: 3vw;
    font-weight: bold;
    color: yellow;
}
.desktop-navigation{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-top: 3vh;
    height: 18vh;
    color: #fff;
    font-size: 3vw;
    display: none;
    /* background-color: rgb(186, 133, 35); */
}
.hamburger-menu{
    position: fixed;
    top: 1vh;
    right: 0px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 5vh;
    width: 55px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.change .hamburger-menu{
    top: 10vh;
    right: 10px;
}
.line{
    height: 2px;
    width: 30px;
    background-color: white;
    margin: 2px 0;
    transform-origin: right;
    transition: all 0.5s;
}
.change .line-1{
    transform: rotate(-40deg) translateY(-5px);
}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotate(40deg) translateY(5px);
}
.list-container{
    position: fixed;
    top: 9vh;
    right: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 80vh;
    width: 0;
    transition: all .5s;
    background-color: var(--primary-color);
    color: white;
    padding-top: 7vh;
    padding-left: 2vw;
    opacity: 0;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
}
.change .list-container{
    width: 60vw;
    opacity: 1;
}
.flex-list{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    width: 50vw;
    height: 7vh;
}
.toggle-profile, .toggle-archive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 6vh;
    width: 10vw;
    background-color: inherit;
    border: 0;
    outline: 0;
}
.profile-line, .archive-line{
    height: .2vh;
    width: 5vw;
    background: white;
    transform-origin: right;
}
.first-line, .second-line{
    transform: rotate(90deg) translate(1.5vh, 2.5vw);
    transition: all 0.5s;
}
.liner, .b-liner{
    transform: translateY(-1vw);
}
.reveal .first-line{
    transform: rotate(180deg) translate(2.35vh, 0vw);
    background-color: var(--primary-color);
}
.show .second-line{
    transform: rotate(180deg) translate(2.35vh, 0vw);
    background-color: var(--primary-color);
}
.profile-list, .archive-list{
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    margin-left: 500vw;
    list-style-type: none;
}
.reveal .profile-list{
    height: auto;
    opacity: 1;
    margin-left: 5vw;
}
#holla{
    height: 2vh;
    width: auto;
    background-color: red;
    color: white;
}
.show .archive-list{
    height: auto;
    opacity: 1;
    margin-left: 5vw;
}
.profile-list-item, .archive-list-item{
    margin-bottom: 2vh;
}
.desk-navigation{
    display: none;
}
.nav-link{
    color: gold;
}
#content{
    display: grid;
    grid-gap: 5px; 
    margin-top: 5vh;
    line-height: 1.5;
    color: var(--primary-color);
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
}
#content > *{
    overflow: auto;
    padding: 4px;
    text-align: center;
}
main::first-letter{
font-size: 15vw;
font-family: var(--primary-font-family)
}
.mainImg{
height: 100vh;
margin: auto;
}
.mainImg__container{
position: relative;
height: 48%;
width: 80%;
margin: auto auto 10px auto;   
}
.img{
height: 80%;
width: 80%;
margin: auto;
border-radius: 4px;
border: 1px solid;
}
.mainImg__container p{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, 0%);
width: 70vw;
color: rgb(255, 0, 0);
text-align: center;
}
.family{
    height: 50vh;
}
.varicoses{
    max-height: 50vh;
    text-align: center;
}
.varicoses .mainImg__container{
    height: 100%;
}
.varicoses .mainImg__container p{
    color: var(--primary-color);
}
#riskFactors{
    list-style-type: none;
    padding: 20px;
    border-radius: 4px;
    outline: 1px solid red;
    text-align: center;   
}
#riskFactors li{
    padding: 10px;
    padding-left: 0;
    text-align: left;    
}
section{
    margin-top: 5vh;
    border: 1px solid #223c50;
    border-radius: 4px;
    padding: 10px;
}
#section-header{
    margin-top: 0;
}
#financialStatement__table{
    width:100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-collapse: collapse;
}
table tr:nth-child(odd){
    background-color: rgb(101, 181, 255);
}

table tr:nth-child(even){
    background-color: rgb(247, 172, 31);
} 
footer{
    background-color: var(--primary-color);
    margin-top: 0px;
    padding: 10px;
    color: white;
}
footer p{
    margin: 0;
    text-align: center;
}

@media screen and (min-width:350px){
    #content{
        font-size: 5vw;
    }
    #content p {
        line-height: 5vh;
    }
}

@media screen and (min-width:500px){
    body{
        padding-top: 0;
    }
    h1{
        font-size: 4.2vw;
        width: auto;
        margin: auto;
        padding-left: 0;
    }
    h2{
        margin-top: 1vh;
        font-size: 3vw;
    }
    h3{
        font-size: 2vw;
        background-color: var(--primary-color);
        color: #fff;
    }
    header{
        position: static;
        left: 0%;
        transform: translate(0%, 0%);
        width: 100%; 
        margin-top: 0;
    }
    #header-container{
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: var(--primary-color);
    }
    #page-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;  
    }
    .flex-container{
        margin-right: 0;
    }
    .navigation{
        display: none;
    }
    .desktop-navigation{
        display: block;
    }
    .wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .desktop-nav-header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        background-color: var(--primary-color);
        height: 10vh;
    }
    .desktop-nav-header h1{
        font-size: 3vw;
        margin: 0;
        padding:1vw ;
        cursor: pointer;
    }
    .desktop-nav-list{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10vw;
       margin-top: 1vh;
    }
    .change .profiles{
        color: gold;
    }
    .reveal .archive{
        color: gold;
    }
    .desktop-profile-list, .desktop-archive-list{
        display: none;
        font-size: 2vw;
        border-radius: 4px;
    }
    .change .desktop-profile-list{
        display: flex;
        flex-direction: column;
    }
    .reveal .desktop-archive-list{
        display: flex;
        flex-direction: column;
    }
    .desktop-nav-list ul{
        padding: 10px;
        list-style-type: none;
    }
    .desktop-profile-list{
        width: auto;
        margin-top: 0;
        margin-left: -20vw;
        background-color: var(--primary-color);
       
    }
    .desktop-archive-list{
        background-color: var(--primary-color);
        margin-right: -30vw;
        margin-top: 0;
     
    }
    #content{
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(10px, auto);
        max-width: 100vw;
        grid-template-areas: 
        "article article main main main"
        "section section main main main"
        ". . main main main"
        "footer footer footer footer footer";
        grid-gap: 10px;
        margin-top: 5vh;
        font-size: 2.5vw;
        }
    main{
        grid-area: main;
        border: 1px solid;
        border-radius: 4px;
    }
    .mainImg{
        display: flex;
        max-height: 60vh;
        margin-bottom: 10vh;
    }
    .mainImg__container{
        height: 100%;
        margin-top: 0vh;    
    }
    .family{
        height: 40vh;
    }
    .mainImg__container p{
        width: 20vw;
    }
    .varicoses{
        min-height: 60vh;
    }
    article{
        grid-area: article;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "announcements"
        "opportunities"
        "investments";
        box-sizing: border-box;
        padding: 2px;
        border: 1px solid;
        border-radius: 4px;
        align-items: start;
    }
    #announcements{
        grid-area: announcements;
    }
    #opportunites{
        grid-area: opportunities; 
    }
    #investments{
        grid-area: investments;
    }
    section{
        grid-area: section;
    }
    footer{
        grid-area: footer;
    }
}
@media screen and (min-width:750px){
    h2{
        font-size: 2vw;
    }
    h3{
        font-size: 1.5vw;
    }
    header{
        height: 13vh;
    }
    .list__item{
        margin-top: 16vh;
    }
    .list__item-list-item{
        font-size: 1.5vw;
    }
    #content{
        margin-top: 15vh;
        font-size: 2vw;
    }  
    
}
@media screen and (min-width:1029px){
    #content{
        font-size: 1.5vw;
    }
}
